#userInfo
  if (everyauth.loggedIn)
    .dropdown
      a#greeting.dropdown-toggle(href='#', data-toggle='dropdown')
        i.icon-user
        span &nbsp;#{user.name}
        b.caret
      ul.dropdown-menu
        if user.isAdmin
          li: a#siteAdmin(href='/siteAdmin') Administração do site
        if user.isSeller
          li: a#admin2(href='/admin') Administração
        li: a#account(href="/account") Sua conta
        li: a#goCheckOrders(href="/account#orders") Pedidos realizados
        li: a#goChangePassword(href="/account/changePassword") Troque sua senha
        li: a#goUpdateProfile(href="/account/updateProfile") Atualize seu cadastro
        li: a#logout(href="/account/logout") Sair
  else
    a#loginPop.pop(href="#") Entrar
    //li: a(href='#{secureUrl}/account/register') Cadastre-se
  #loginPop-head.hide Faça seu login
    button.close(type="button") ×
  #loginPop-content.hide
    form#popupLoginForm(action='#{secureUrl}/account/login', method='post')
      a.facebookLogin(href='/auth/facebook')
        img(src="#{STATIC_PATH}/images/fblogin.png")
        span Login com Facebook
      .form-group
        input(type='text', id="email", name='email', value='', class="required email", title="Informe seu email.", placeholder="E-mail")
      .form-group
        input(type='password', name=everyauth.password.passwordFormFieldName, class="required", title="Informe sua senha.", placeholder="Senha")
      .form-group
        input(type='submit', class='btn btn-primary', value='Entrar')
        &nbsp;
        a#forgotPasswordLink(href="/account/forgotPassword") Esqueci minha senha
