extends layout

append layout
  block header
    section#main.container
      .relative
        img.beta(src="#{STATIC_PATH}/images/beta.png")
      #site-banner.row(style="margin-bottom: 20px")
        .col-md-4
          if (CONFIG.serverEnvironment == 'production')
            a(href="/", onclick="Backbone.history.navigate('', true); return false;"): img(src="#{STATIC_PATH}/images/ateliesLogo.png")
          else
            a(href="/", onclick="Backbone.history.navigate('', true); return false;"): img(src="#{STATIC_PATH}/images/ateliesLogoTeste.png")
        .col-md-6
          h3.nameHeader shopping virtual de artes e afins
        .col-md-2
          ul.social
            li: a(href="https://www.facebook.com/Atelies", target="_blank", rel="me"): img.img-circle(src="#{STATIC_PATH}/images/facebook.png")
            li: a(href="https://plus.google.com/111286901107324902673", target="_blank", rel="me"): img.img-circle(src="#{STATIC_PATH}/images/gplus.png")
            li: a(href="https://twitter.com/ateliescombr", target="_blank", rel="me"): img.img-circle(src="#{STATIC_PATH}/images/twitter.png")
      .navbar.navbar-default(role="navigation")
        include includes/commonHeader
        include includes/userInfo

      block content

      block footer
        footer
          .container
            .row
              .col-md-5
                .featured O Ateliês quer ver a comunidade ligada às artes unida e auto organizada<br /> Seja protagonista dessa nova história
                ul.ideas
                  li: a(href="/contribute") Junte-se a nossa equipe
                  li: a(href="/contribute") Partilhe ideias
                  li: a(href="/contribute") Divulgue eventos na sua área
                  li: a(href="/contribute") Seja colunista em nosso blog
                  li: a(href="/contribute") Contribua com material para nossa fanpage
                  li: a(href="/contribute") Introduza novas ferramentas no site
                .donation
                  a(href="/donating").money $
                  a(href="/donating").accepting Aceitamos doações
              .col-md-7
                .featured Sua loja virtual hospedada no portal ideal<br />
                  | Sem intermediários entre você e o cliente<br />
                  | Site sem fins lucrativos <br />
                  | Sem taxas de adesão e manutenção
                .securityNotice O Ateliês é protegido por criptografia SSL, a mesma usada nos bancos
                #pagseguro
                  img.pagseguro(src='#{STATIC_PATH}/images/pagsegFooter.png')
                .links
                  a.link(href="/about") Sobre
                  a.link(href="/IWantToBuy") Quero Comprar
                  a.link(href="/IWantToSell") Quero vender
                  a.link(href="/faq") Perguntas frequentes
                #socialContainers
                  .facebookContainer
                    #fb-root
                    .fb-like(data-href="https://www.atelies.com.br", data-width="250", data-height="100", data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="true", data-send="false")
                  .gplusContainer
                    .g-plusone(data-annotation="bubble", data-width="300", data-href="https://www.atelies.com.br")
                    //-.g-page(data-href="https://plus.google.com/111286901107324902673", data-layout="landscape", data-theme="dark", data-showcoverphoto="false", data-width="273", data-showtagline="false")

            .lastFooter
              &copy; 2013 - Ateliês
              &nbsp;|&nbsp;
              a(href="/terms") Termos de uso
              &nbsp;|&nbsp;
              a(href="/about") Sobre
              &nbsp;|&nbsp;
              a(href="mailto:contato@atelies.com.br") Contato
              &nbsp;|&nbsp;
              a(href="http://blog.atelies.com.br") Blog
