doctype 5
html
  head
    title="Ateliês - shopping virtual de artes e afins"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='#{STATIC_PATH}/stylesheets/style.css')
    include includes/shims
    script.
      window.prerenderReady = false;
      var staticPath = '!{STATIC_PATH}';
    block head
  body
    #overlay: #loading
    block layout
    block scriptsFooter
      if DEBUG
        script .
          window.DEBUG = true
      else
        script .
          window.DEBUG = false
      script .
      <!-- UserVoice JavaScript SDK (only needed once on a page) -->
      script .
        (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/jNBpyNyNkKBnCxUMJjJziw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
      script .
        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
          mode: 'full',
          primary_color: '#cc6d00',
          link_color: '#007dbf',
          default_mode: 'feedback',
          forum_id: 216427,
          tab_label: 'Feedback',
          tab_color: '#cc6d00',
          tab_position: 'middle-right',
          tab_inverted: false
        }]);
<!--App #{CONFIG.app.name} version #{CONFIG.app.version} running on node #{process.version} on environment #{CONFIG.serverEnvironment} -->
