doctype 5
html
  head
    title="Ateliês - shopping virtual de artes e afins"
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block layout
    block scriptsFooter
      if DEBUG
        script .
          window.DEBUG = true
      else
        script .
          window.DEBUG = false
<!--App #{CONFIG.app.name} version #{CONFIG.app.version} running on node #{process.version} on environment #{CONFIG.serverEnvironment} -->
