append variables
  - title += "Login"
extends homeLayout
append scriptsFooter
  script(src='#{CLIENT_LIB_PATH}/lib/requirejs/require.js', data-main='#{CLIENT_LIB_PATH}/bootstrap.js')
  script.
    require(['loginBootstrap']);
append content
  .container
    :coffeescript
      window.RecaptchaOptions =
        custom_translations:
          instructions_visual : "Escreva as duas palavras:",
          instructions_audio : "Escreva o que ouviu:",
          play_again : "Toque de novo",
          cant_hear_this : "Baixar em MP3",
          visual_challenge : "Desafio visual",
          audio_challenge : "Desafio auditivo",
          refresh_btn : "Novo desafio"
          help_btn : "Ajuda",
          incorrect_try_again : "Incorreto, tente novamente.",
        theme: 'clean'
        lang: 'pt'
    form#loginForm.validatable.form-horizontal(action='#{secureUrl}/account/login#{redirectTo}', method='post')
      h2 Login
      if ('undefined' !== typeof errors && errors.length)
        div.alert.alert-warning
          ul#errors
            - each error in errors
              li.error= error
      .form-group
        .col-lg-offset-2.col-lg-10
          a.facebookLogin(href='/auth/facebook#{redirectTo}')
            img(src="#{STATIC_PATH}/images/fblogin.png")
            span Login com Facebook
        .col-lg-offset-2.col-lg-10
          span ou
      .form-group
        label.control-label.col-lg-2 E-mail:
        .col-lg-4: input#email(type='text', name=everyauth.password.loginFormFieldName, value=email, class="required email", title="Informe seu e-mail.")
      .form-group
        label.control-label.col-lg-2 Senha:
        .col-lg-4: input#password(type='password', name=everyauth.password.passwordFormFieldName, class="required", title="Informe sua senha.")
      if typeof(recaptchaForm) != 'undefined'
        .col-lg-offset-2.col-lg-10
          .controls.recaptcha
            != recaptchaForm
      .form-group
        .col-lg-offset-2.col-lg-10
          input#login(type='submit', class='btn btn-primary', value='Entrar')
          &nbsp;
          a(href="/account/forgotPassword") Esqueci minha senha

    h4 Ou&nbsp;
      a(href="/account/register#{redirectTo}") cadastre-se agora!
