extends homeLayout
append scriptsFooter
  script(src='/javascripts/lib/requirejs/require.js', data-main='/javascripts/bootstrap.js')
  script.
    require(['loginBootstrap']);
append content
  .container
    if (everyauth.loggedIn)
      h3 Usuário já logado.
    else
      :coffeescript
        window.RecaptchaOptions =
          custom_translations:
            instructions_visual : "Escreva as duas palavras:",
            instructions_audio : "Escreva o que ouviu:",
            play_again : "Toque de novo",
            cant_hear_this : "Baixar em MP3",
            visual_challenge : "Desafio visual",
            audio_challenge : "Desafio auditivo",
            refresh_btn : "Novo desafio"
            help_btn : "Ajuda",
            incorrect_try_again : "Incorreto, tente novamente.",
          theme: 'clean'
          lang: 'pt'
      form#loginForm.validatable.form-horizontal(action='#{secureUrl}/account/login#{redirectTo}', method='post')
        h2 Login
        if ('undefined' !== typeof errors && errors.length)
          ul#errors
            - each error in errors
              li.error= error
        .control-group
          label.control-label E-mail:
          .controls
            input#email(type='text', name=everyauth.password.loginFormFieldName, value=email, class="required email", title="Informe seu e-mail.")
        .control-group
          label.control-label Senha:
          .controls
            input#password(type='password', name=everyauth.password.passwordFormFieldName, class="required", title="Informe sua senha.")
        if typeof(recaptchaForm) != 'undefined'
          .control-group
            .controls.recaptcha
              != recaptchaForm
        .control-group
          .controls
            input#login(type='submit', class='btn btn-primary', value='Entrar')
