extends homeLayout
append head
  script(src='/javascripts/lib/requirejs/require.js', data-main='/javascripts/loginBootstrap.js')
append content
  .container
    h2 Cadastro
    if (everyauth.loggedIn)
      h3 Usuário já logado.
    else
      if ('undefined' !== typeof errors && errors.length)
        ul#errors
          - each error in errors
            li.error= error
      form#registerForm.validatable(action='/register', method='post')
        div
          div Email:
          input#email(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName], class="required email", title="Informe seu e-mail.", placeholder="nome@provedor.com")
        div
          div Nome:
          input#name(type='text', name="name", value=userParams["name"], class="required", title="Informe seu nome.")
        div
          div: label
            input#isSeller(type='checkbox', name="isSeller", value=userParams["isSeller"], checked)
            | registrar-se como vendedor
        div
          div Senha:
          input#password(type='password', name=everyauth.password.passwordFormFieldName, class="required", title="Informe sua senha.")
        div
          div Confirme sua senha:
          input#passwordVerify(type='password', name='passwordVerify', title="A senha não confere.", matches="password")
        div
          input#register(type='submit',class='btn btn-primary', value='Cadastre-se')
