extends storeLayout

append scriptsFooter
  script.
    var storeBootstrapModel = {
      store:!{JSON.stringify(store)},
      products:!{JSON.stringify(products)},
      user:!{typeof(user)==='undefined'?'undefined':JSON.stringify(user)},
      order:!{typeof(order)==='undefined'?'undefined':JSON.stringify(order)}
    };
    var rootUrl = '!{store.slug}';
  if typeof(bootstrapedRedirect) !== 'undefined'
    script .
      var boostrapedRedirect = '!{bootstrapedRedirect}';
  script(src='#{CLIENT_LIB_PATH}/lib/requirejs/require.js', data-main='#{CLIENT_LIB_PATH}/bootstrap.js')
  script.
    require(['storeBootstrap']);

append content
  .container.storeContainer
    section#app-container
      .store Carregando...
