extends storeLayout

append scriptsFooter
  script.
    var storeBootstrapModel = {
      store:!{JSON.stringify(store)},
      products:!{JSON.stringify(products)},
      user:!{typeof(user)==='undefined'?'undefined':JSON.stringify(user)},
      order:!{typeof(order)==='undefined'?'undefined':JSON.stringify(order)}
    };
  if typeof(bootstrapedRedirect) !== 'undefined'
    script .
      var boostrapedRedirect = '!{bootstrapedRedirect}';
  script(src='#{STATIC_PATH}/javascripts/lib/requirejs/require.js', data-main='#{STATIC_PATH}/javascripts/bootstrap.js')
  script.
    require(['storeBootstrap']);

append content
  .container.storeContainer
    section#app-container
      .store Carregando...
